.big-player {
  position: fixed;
  // z-index: 100;
  // left: 50%;
  // top: 50%;
  border-radius: 15px;
  overflow: hidden;
  background-color: #000;
  .top-info {
    position: absolute;
    width: 50vw;
    top: 0px;
    z-index: 10;
    span {
      text-shadow: #bbbbbb 1px 0 0, #bbbbbb 0 1px 0, #bbbbbb -1px 0 0,
        #bbbbbb 0 -1px 0;
      position: relative;
      top: 10px;
    }
  }
  .video-player {
    width: 50vw;
    height: 30vw;
  }
  .fullscreen-btn {
    z-index: 100;
    color: #cccccc;
    &:hover {
      color: #bbbbbb;
    }
  }
  transform: translate(-50%, -50%);
  .bottom-btns {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .player-btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #bdbdbd85;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: #bdbdbd65;
      }
      .iconfont {
        font-size: 22px;
      }
      .ant-btn-link {
        color: #ffffff;
      }
    }
    .offcall {
      background-color: rgb(255, 96, 96);
      width: 60px;
      height: 60px;
      .iconfont {
        font-size: 26px;
      }
      &:hover {
        background-color: rgb(252, 110, 110);
      }
    }
    .iconfont {
      // font-size: 20px;
      // margin-right: 5px;
    }
  }
}
