.big-player {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  border-radius: 2px;
  overflow: hidden;
  .video-player {
    width: 50vw;
    height: 30vw;
  }
  .fullscreen-btn {
    position: absolute;
    top: -5px;
    right: 5px;
    z-index: 100;
    font-size: 35px;
    cursor: pointer;
  }
  transform: translate(-50%, -50%);
  .bottom-btns {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    .iconfont {
      // font-size: 20px;
      // margin-right: 5px;
    }
  }
}