.editor {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .top-bar {
    height: 44px;
    display: flex;
    align-items: center;
    background-color: rgb(14, 14, 14);
    flex: 1 0 44px;
    padding-left: 15px;
  }
  .bottom-bar {
    padding: 5px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .run-btn {
      background-color: rgb(97, 152, 32);
      border-color: rgb(97, 152, 32);
    }
    .run-btn:hover {
      opacity: 0.9;
    }
  }
}