.editor {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: rgb(14, 14, 14);
  .top-bar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(14, 14, 14);
    flex: 1 0 50px;
    padding-left: 15px;
    color: #fff;
    img {
      width: 200px;
      margin-top: -2px;
    }
  }
  .bottom-bar {
    height: 55px;
    padding: 0 5px;
    // background-color: #0e0e0e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .run-btn {
      background-color: rgb(97, 152, 32);
      border-color: rgb(97, 152, 32);
      width: 90px;
    }
    .run-btn:hover {
      opacity: 0.9;
    }
    .selectors {
      display: flex;
      align-items: center;
    }
  }
}