.small-player {
  z-index: 100;
  position: fixed;
  top: 300px;
  right: 20px;
  .fullscreen-btn {
    position: absolute;
    top: -5px;
    right: 0px;
    z-index: 100;
    font-size: 25px;
    cursor: pointer;
    color: #e0e0e0;
    &:hover {
      color: #cccccc;
    }
  }
  border-radius: 2px;
  overflow: hidden;
  .bottom-btns {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    .iconfont {
      // font-size: 20px;
      // margin-right: 5px;
    }
  }
}
