.video-call {
  display: inline-block;
  z-index: 9;
  display: relative;
  .make-call {
    // background-color: rgb(97, 152, 32);
    // border-color: rgb(97, 152, 32);
  }
  .player-container {
    position: fixed;
    top: 50px;
    right: 20px;
    .big-v {
      position: fixed;
      top: 50%;
      left: 50%;
    }
  }
}
