.video-talk {
  z-index: 99;
  #me {
    position: relative;
    width: 300px;
    margin: 0 auto;
    display: block;
  }
  #me video {
    position: relative !important;
  }
  #remote-container {
    display: flex;
  }
  #remote-container video {
    height: auto;
    position: relative !important;
  }
}
