.video-talk {
  position: fixed;
  z-index: 99;
  top: 32px;
  right: 10px;
  #me {
    position: relative;
    width: 300px;
    margin: 0 auto;
    display: block;
  }
  #me video {
    position: relative !important;
  }
  #remote-container {
    display: flex;
  }
  #remote-container video {
    height: auto;
    position: relative !important;
  }
}
