.home-page {
  // flex-direction: column;
  // align-items: center;
  padding: 0 15px;
  .main {
    display: flex;
  }
  .title {
    font-size: 40px;
    // font-family: "Noto Serif", "PT Serif", "source-han-serif-sc", Songti SC,
    //   serif;
    font-weight: 500;
    margin: 50px auto 20px auto;
    color: #282d3c;
  }
  .left {
    min-width: 300px;
    .sub-title {
      font-size: 18px;
      color: #545968;
      margin-bottom: 10px;
    }
    .try {
      width: 130px;
      height: 45px;
      font-size: 20px;
      font-weight: 500;
      margin-top: 80px;
      border-radius: 4px;
    }
  }
  .right {
    img {
      width: 100%;
      box-shadow: 0 0 10px 2px #bdbdbd;
    }
  }
  .desc {
    margin: 65px 0;
    display: flex;
    justify-content: space-around;
    .desc-title {
      font-weight: 500;
      font-size: 16px;
      color: #282d3c;
    }
    .desc-txt {
      color: #65697f;
    }
    .desc-item {
      max-width: 300px;
      display: flex;
      align-items: center;
      .iconfont {
        font-size: 40px;
        color: #0582ca;
        padding-right: 20px;
      }
    }
  }
  @media screen and (max-width: 980px) {
    .main {
      display: block;
      .left {
        text-align: center;
        .sub-title {
          font-size: 18px;
        }
        .try {
          width: 130px;
          height: 45px;
          font-size: 20px;
          font-weight: 500;
          margin-top: 20px;
          border-radius: 4px;
          margin-bottom: 20px;
        }
      }
    }
    .desc {
      display: block;
      text-align: center;
    }
    .title {
      font-size: 30px;
      font-family: "Noto Serif", "PT Serif", "source-han-serif-sc", Songti SC,
        serif;
      font-weight: 500;
      margin: 50px auto 20px auto;
      text-align: center;
    }
  }
  .intro {
    padding-top: 60px;
    text-align: center;
  }
}
