.home-page {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  padding: 0 15px;
  .title {
    font-size: 40px;
    font-family: "Noto Serif","PT Serif","source-han-serif-sc",Songti SC,serif;
    // text-align: center;
    font-weight: 500;
    margin: 80px auto 30px auto;
  }
  .sub-title {
    font-size: 18px;
  }
  .try {
    width: 130px;
    height: 45px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
    border-radius: 4px;
  }
}