.create-question {
  padding: 20px 50px;
  .main-area {
    display: flex;
    .form-area {
      flex: 1;
    }
    .find-question {
      width: 300px;
    }
    .create-title {
      font-weight: 500;
      padding: 10px 0;
    }
    .single-item {
      display: flex;
      align-items: center;
      width: 50%;
      padding: 10px 0;
    }
    .delete-icon {
      padding-left: 10px;
      font-size: 20px;
    }
  }
}
