.language-selector {
  cursor: pointer;
  .language-selector-dom {
    color: #ffffff;
    .ant-select-selector {
      background-color: #1e1e1e;
    }
    .ant-select-arrow {
      color:#ffffff;
    }
  }
}