.header {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  .icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    .logo-icon {
      .logo-txt {
        width: 220px;
      }
    }
  }
  .home-menu {
    min-width: 160px;
    .ant-menu {
      background-color: transparent;
    }
  }
  .ant-menu-horizontal {
    border: none;
  }
}
