.home {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(
  180deg, #eff5f9 100px, rgba(255,255,255,0) 480px) no-repeat;
  .home-wrapper {
    max-width: 1170px;
    margin: auto;
  }
  padding-bottom: 120px;
}