@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* Project id 2405345 */
  src: url('//at.alicdn.com/t/font_2405345_anvbyguhbpt.eot?t=1634744386140'); /* IE9 */
  src: url('//at.alicdn.com/t/font_2405345_anvbyguhbpt.eot?t=1634744386140#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/font_2405345_anvbyguhbpt.woff2?t=1634744386140') format('woff2'),
       url('//at.alicdn.com/t/font_2405345_anvbyguhbpt.woff?t=1634744386140') format('woff'),
       url('//at.alicdn.com/t/font_2405345_anvbyguhbpt.ttf?t=1634744386140') format('truetype'),
       url('//at.alicdn.com/t/font_2405345_anvbyguhbpt.svg?t=1634744386140#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.c-font-biggest {
  font-size: 24px;
  line-height: 34px;
}
.c-font-bigger {
  font-size: 20px;
  line-height: 30px;
}
.c-font-big {
  font-size: 18px;
  line-height: 28px;
}
.c-font-title {
  font-size: 17px;
  line-height: 27px;
}
.c-font-medium {
  font-size: 16px;
  line-height: 26px;
}
.c-font-normal {
  font-size: 14px;
  line-height: 24px;
}
.c-font-small2 {
  font-size: 13px;
  line-height: 23px;
}
.c-font-small {
  font-size: 12px;
  line-height: 22px;
}
.c-font-tiny {
  font-size: 10px;
  line-height: 20px;
}

// 间距类
.c-gap-top-zero {
  margin-top: 0;
}
.c-gap-right-zero {
  margin-right: 0;
}
.c-gap-bottom-zero {
  margin-bottom: 0;
}
.c-gap-left-zero {
  margin-left: 0;
}
.c-gap-top {
  margin-top: 10px;
}
.c-gap-right {
  margin-right: 10px;
}
.c-gap-bottom {
  margin-bottom: 10px;
}
.c-gap-left {
  margin-left: 10px;
}
.c-gap-top-small {
  margin-top: 5px;
}
.c-gap-right-small {
  margin-right: 5px;
}
.c-gap-bottom-small {
  margin-bottom: 5px;
}
.c-gap-left-small {
  margin-left: 5px;
}
.c-gap-top-large {
  margin-top: 15px;
}
.c-gap-right-large {
  margin-right: 15px;
}
.c-gap-bottom-large {
  margin-bottom: 15px;
}
.c-gap-left-large {
  margin-left: 15px;
}
.c-gap-right-large2 {
  margin-right: 40px;
}
.c-gap-left-large2 {
  margin-left: 40px;
}
.c-gap-top-medium {
  margin-top: 8px;
}
.c-gap-right-medium {
  margin-right: 8px;
}
.c-gap-bottom-medium {
  margin-bottom: 8px;
}
.c-gap-left-medium {
  margin-left: 8px;
}
.c-gap-inner-top-zero {
  padding-top: 0;
}
.c-gap-inner-right-zero {
  padding-right: 0;
}
.c-gap-inner-bottom-zero {
  padding-bottom: 0;
}
.c-gap-inner-left-zero {
  padding-left: 0;
}
.c-gap-inner-top {
  padding-top: 10px;
}
.c-gap-inner-right {
  padding-right: 10px;
}
.c-gap-inner-bottom {
  padding-bottom: 10px;
}
.c-gap-inner-left {
  padding-left: 10px;
}
.c-gap-inner-top-small {
  padding-top: 5px;
}
.c-gap-inner-right-small {
  padding-right: 5px;
}
.c-gap-inner-bottom-small {
  padding-bottom: 5px;
}
.c-gap-inner-left-small {
  padding-left: 5px;
}
.c-gap-inner-top-large {
  padding-top: 15px;
}
.c-gap-inner-right-large {
  padding-right: 15px;
}
.c-gap-inner-bottom-large {
  padding-bottom: 15px;
}
.c-gap-inner-left-large {
  padding-left: 15px;
}
.c-gap-inner-top-medium {
  padding-top: 8px;
}
.c-gap-inner-right-medium {
  padding-right: 8px;
}
.c-gap-inner-bottom-medium {
  padding-right: 8px;
}
.c-gap-inner-left-medium {
  padding-left: 8px;
}

// 颜色类
.c-color {
  color: #555;
}
.c-color-gray-a {
  color: #666;
}
.c-color-gray {
  color: #999;
}
.c-color-link {
  color: #000;
}
.c-color-noclick {
  color: #999;
}
.c-color-url {
  color: #999;
}
.c-color-red {
  color: #e43;
}
.c-color-green {
  color: #67c23a;
}
.c-color-red:visited {
  color: #e43;
}
.c-color-orange {
  color: #f60;
}
.c-color-orange:visited {
  color: #f60;
}
.c-color-icon-special {
  color: #b4b4b4;
}
.c-color-split {
  color: #eee;
}
.c-color-blue {
  color: #2b99ff;
}

.c-font-bold {
  font-weight: 500;
}

// 限制文字显示行数类
.c-line-clamp2,
.c-line-clamp3,
.c-line-clamp4,
.c-line-clamp5 {
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 0.05rem;
  white-space: normal;
  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
}
.c-line-clamp2 {
  -webkit-line-clamp: 2;
}
.c-line-clamp3 {
  -webkit-line-clamp: 3;
}
.c-line-clamp4 {
  -webkit-line-clamp: 4;
}
.c-line-clamp5 {
  -webkit-line-clamp: 5;
}
.c-line-clamp1 {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.float-right {
    float: right;
}
/* .font-zh {
  font-family: "Noto Serif","PT Serif","source-han-serif-sc",Songti SC,serif;
} */