.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .header-left {
    display: flex;
    align-items: center;
    .header-title {
      font-size: 22px;
      font-weight: 500;
      margin-right: 20px;
    }
  }
  .header-right {
    display: flex;
    align-items: center;
  }
}
