.create-team {
  padding: 20px 50px 0 0;
  .half-wrapper {
    max-width: 600px;
    .create-wrapper {
      padding: 20px;
      .create-btn {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
